<div{{ attributes.addClass('paragraph', 'paragraph--type--du-tuition-calculator') }}>
  <div class="row row-mw-120">
    <div class="col-12 col-lg-3 pull-up">
      <div class="col-12 col-lg-12">
        <div class="sub-menu-wrap"></div>
      </div>
    </div>

    <div class="col-12 col-lg-8 offset-lg-1 intro">
      {{ content }}
    </div>
  </div>
</div>